@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(37,54,81);
  background: linear-gradient(0deg, rgba(37,54,81,1) 0%);
}

a{
  text-decoration: none;
  color: inherit;
}

#container{
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;

}

  
  .notification-animation {
    animation: marquee 12s linear infinite; /* Very short duration */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(-100%);  /* Start from the right edge */
    }
    100% {
      transform: translateX(100%);   /* Move to the left edge (off-screen) */
    }
  }
  
  